<% include nav_admin %>

<div class="container" style="margin-top: 20px;">
  	<a href="/musics/add_music">
	  	<div>
	  		<i class="fas fa-plus"></i>
	  		<label>ADD MUSIC</label>
	  	</div>
  	</a>

  	<div>
  		<input type="text" class="form-control" placeholder="SEARCH"/>
  	</div>

	<div class="content-card">
		<div class="content">
			<div class="card" style=" margin-top: 10px;">
			  <img src="/images/logo.png" class="card-img-top" style="width: 200px" alt="...">
			  <div class="card-body">
			    <h5 class="card-title" style="color: white">Title: </h5>
			    <p class="card-text"></p>
			    <p class="card-text"></p>
			  </div>
			</div>
		</div>
	</div>
  	
</div>


