<% include nav_admin %>

<nav class="navbar navbar-dark bg-secondary">
  <h3>Edit Music</h3>
</nav>

<div class="container">
	<div class='row mt-5'>
		<input type="file" class="form-control"/>

		<label >Title</label>
		<input type="text" name="title" class="form-control">

		<label >Artist</label>
		<input type="text" name="Artist" class="form-control">

		<label >Genre</label>
		<input type="text" name="Genre" class="form-control">

		<button class="btn btn-secondary mt-3">EDIT MUSIC</button>
	</div>
</div>
