<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/dashboard_admin">
    <i class="fas fa-music"></i>
    <!-- Bootstrap -->
  </a>
  <div class="form-inline">
    <a href="/users/logout_admin"><button class="btn btn-warning p2">LOGOUT</button></a>
  </div>
</nav>