<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/dashboard_user">
    <i class="fas fa-music"></i>
    <!-- Bootstrap -->
  </a>
  <div class="form-inline">
    <!-- <h3 style="color: white">ADMIN TO</h3> -->
    <!-- <a href="/users/register"><button class="btn btn-success mr-sm-3">REGISTER</button></a> -->
    <a href="/users/logout"><button class="btn btn-warning p2">LOGOUT</button></a>
  </div>
</nav>