<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="fas fa-music"></i>
    <!-- Bootstrap -->
  </a>
  <div class="form-inline">
    <a href="/users/register"><button class="btn btn-success mr-sm-3">REGISTER</button></a>
    <a href="/users/login"><button class="btn btn-primary mr-sm-2">LOGIN</button></a>
  </div>
    
  
</nav>

<div class="container">
  <br>
  <br>
  <h2>About Music App</h2>
  <p>Listening to music can heal the scars of the sould. It will also improve your performance tenfold. It can also calm you down </p>

  <p>The power of music will be able to calm the emotions and lead you to a better mind</p>
</div>